@model AcunMedyaCafe.Entities.Address
<div class="header-top">
	<div class="container">
		<div class="row justify-content-end">
			<div class="col-lg-8 col-sm-4 col-8 header-top-right no-padding">
				<ul>
					<li>
						Hafta İçi: @Model.WeekdayHours
					</li>
					<li>
						Hafta Sonu: @Model.WeekendHours
					</li>
					<li>
						<a href="tel: @Model.PhoneNumber">@Model.PhoneNumber</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>