<div class="container">
	<div class="row align-items-center justify-content-between d-flex">
		</div>
		<nav id="nav-menu-container">
			<ul class="nav-menu">
				<li class="menu-active"><a href="#home">Anasayfa</a></li>
				<li><a href="#about">Hakkımızda</a></li>
				<li><a href="#coffee">Kahvelerimiz</a></li>
				<li><a href="#review">Müşterilerimiz</a></li>
				<li><a href="#blog">Galeri</a></li>
			</ul>
		</nav>
	</div>