@model AcunMedyaCafe.Entities.Blog
@{
    ViewData["Title"] = "UpdateBlog";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Blog Güncelleme Sayfası </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Güncelleme İşlemi</a></li>
                <li class="breadcrumb-item active" aria-current="page">Blog</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <form method="post">
                        <input type="hidden" asp-for="BlogId" class="form-control" />

                        <div class="form-group">
                            <label>Başlık</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <span asp-validation-for="Title" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Açıklama</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Tarih</label>
                            <input type="date" asp-for="Date" class="form-control" />
                            <span asp-validation-for="Date" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>İçerik</label>
                            <input type="text" asp-for="Content" class="form-control" />
                            <span asp-validation-for="Content" class="text-danger"></span>
                        </div>

                        <div class="form-group">
                            <label>Resim</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <span asp-validation-for="ImageUrl" class="text-danger"></span>
                        </div>

                        <button class="btn btn-primary">
                            <i class="fa fa-save"></i> Kaydet
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>