@model List<AcunMedyaCafe.Entities.Feature>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}
<div class="content-wrapper">
    <div class="page-header">
        <h3 class="page-title"> Özellikler Tablosu </h3>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Tablo</a></li>
                <li class="breadcrumb-item active" aria-current="page">Özellik</li>
            </ol>
        </nav>
    </div>
    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Alt Başlık</th>
                                <th>Başlık</th>
                                <th>Güncelle</th>
                                <th>Sil</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@item.SubTitle</td>
                                    <td>@item.Title</td>
                                    <td><a href="/Feature/UpdateFeature/@item.FeatureId" class="btn btn-gradient-warning">Güncelle</a></td>
                                    <td><a href="/Feature/DeleteFeature/@item.FeatureId" class="btn btn-gradient-danger">Sil</a></td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    <br />
                    <a href="/Feature/AddFeature" class="btn btn-primary"><i class="fa fa-plus-circle"></i> Yeni Özellik</a>
                </div>
            </div>
        </div>

    </div>
</div>