@model List<AcunMedyaCafe.Entities.SocialMedia>
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
<div class="col-lg-2 col-md-6 col-sm-6 social-widget">
	<div class="single-footer-widget">
		<h6>Sosyal Medya</h6>
		<p>Sosyal Medya hesaplarımızı takip edebilirsiniz.</p>
		<div class="footer-social d-flex align-items-center">
			@foreach (var item in Model)
			{
				<a href="@item.Url" target="_blank">
				<i class="@item.Icon" style="font-size: 20px;"></i>
				</a>
			}
		</div>
	</div>
</div>