<div class="row counter-row">
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.ProductCount</h1>
		<p>Ürün Sayısı</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.CategoryCount</h1>
		<p>Kahve Çeşitleri</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.TestimonialCount</h1>
		<p>Referans Sayısı</p>
	</div>
	<div class="col-lg-3 col-md-6 single-counter">
		<h1 class="counter">@ViewBag.FeatureCount</h1>
		<p>Özellik Sayısı</p>
	</div>
</div>

		